<% include partials/header %>
	<!-- Main -->
	<div id="page">
		<div id="main" class="container text-center">
			<div class="row text-center" id="videoHeader">
					<h1>All Courses</h1>
			</div>		
			<div class="row">
				<% courses.forEach(function(course){ %>
				<section class="col-xs-12 col-sm-6 col-md-4">
					<div class="box courseThumbnail">
						
						<div>
							<a href="/course/<%= course._id %>" class="image"><img src="<%= course.image_url %>"></a>
							<h4><%= course.name %></h4>
							<p class="byline"><br><%= course.location %></p>
							<a href="/course/<%= course._id %>"><button class="button">More Info</button></a>
						</div>

					</div>
				</section>
				<% }); %>
			</div>
			 <% if (pages > 0) { %>
                <ul class="pagination text-center mx-auto" id="pagination">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/courses/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/courses/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/courses/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
		</div>
	</div>
	<!-- /Main -->

	<div id="featured">
		<div class="divider"></div>
	</div>

<% include partials/footer %>