<% include partials/header %>

<body class="coursePage">
	
<!-- Header -->
	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li class="active"><a href="/courses">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos">Videos</a></li>
						</ul>
					</div>

			</div>
		</div>
	</div>
	<!-- Header -->
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
	<div id="page">
		<div id="main" class="container">	
			<div class="row">
				<% courses.forEach(function(course){ %>
				<section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="box courseThumbnail">
						
						<div>
							<a href="/courses/<%= course._id %>" class="image"><img src="<%= course.image_url %>"></a>
							<h4><%= course.name %></h4>
							<p class="byline"><br><%= course.location %></p>
							<a href="/courses/<%= course._id %>"><button class="button">More Info</button></a>
						</div>

					</div>
				</section>
				<% }); %>
			</div>
		</div>
	</div>
	<!-- /Main -->

	<div id="featured">
		<div class="divider"></div>
	</div>

<% include partials/footer %>