<% include partials/header %>

<body class="showPage">

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto col-sm-6">
          	<h1>Login</h1>
			<form action="/login" method="POST" id="loginForm">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				<button class="button">Login</button>
			</form>
          </div>
          <div class="col-xs-12 mx-auto col-sm-6" id="registerNow">
          	<h1>Not a member?</h1>
          	<p>Accounts are completely free and easy to create! Join now to start tracking your progress and compare your averages to your friends!</p>
          	<button type="button" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Create FREE Account</button>
          </div>

        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto">
          	<h1>Sign Up</h1>
			<form action="/register" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				<button class="button" >Join Now!</button>
			</form>
          </div>
        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	
<!-- Header -->
	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="/images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="/images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li class="active"><a href="/courses/1">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos/1">Videos</a></li>
						<% if(!currentUser) { %>
							<li><a href="#" data-toggle="modal" data-target="#loginModal">Login/Signup</a></li>
						<% } else { %>
							<li><a href="/logout">Logout</a></li>
						<% } %>
						</ul>
					</div>

			</div>
		</div>
	</div>
	<!-- Header -->
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<div id="page">
		<div id="main" class="container">	
			<div class="row">
				<header>
					<h2><%= course.name %> Disc Golf Park</h2>
				</header>
				<div class="col-xs-12 col-md-6">
					<img class="image left" src="<%= course.image_url %>">
				</div>
				<div class="col-xs-12 col-md-6 courseInfo">
					<p class="byline"><span class="center"><%= course.location %></span></p>

					<p>Par Info: <span class="right"><%= course.par %></span></p>
					
					<p>Holes: <span class="right"><%= course.holes %></span></p>

					<p>Course Length: <span class="right"><%= course.length %></span></p>
					
					<p>Year Established <span class="right"><%= course.yearEst %></span></p>

					<p>Course Description:<span class="justify"><br><%= course.description %></span></p>
					
					<p>Local Directions:<br><span class="justify"><%= course.directions %></span></p>
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="divider"></div>
	</div>

<% include partials/footer %>