<% include partials/header %>

<body id="videoPage">

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto col-sm-6">
          	<h1>Login</h1>
			<form action="/login" method="POST" id="loginForm">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				<button class="button">Login</button>
			</form>
          </div>
          <div class="col-xs-12 mx-auto col-sm-6" id="registerNow">
          	<h1>Not a member?</h1>
          	<p>Accounts are completely free and easy to create! Join now to start tracking your progress and compare your averages to your friends!</p>
          	<button type="button" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Create FREE Account</button>
          </div>

        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto">
          	<h1>Sign Up</h1>
			<form action="/register" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				<button class="button" >Join Now!</button>
			</form>
          </div>
        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 

	<!-- Header -->
	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="/images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="/images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses/1">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li class="active"><a href="/videos/1">Videos</a></li>
						<% if(!currentUser) { %>
							<li><a href="#" data-toggle="modal" data-target="#loginModal">Login/Signup</a></li>
						<% } else { %>
							<li><a href="/logout">Logout</a></li>
						<% } %>
						</ul>
					</div>

			</div>
		</div>
	</div>
	<!-- Header -->
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<div id="page">
		<div id="main" class="container text-center">
			<div class="row text-center" id="videoHeader">
				<% if(videoType == "tips"){ %>
					<h1>Pro Tip Videos</h1>
				<% } else if (videoType == "bag") { %>
					<h1>'In The Bag' Videos</h1>
				<% } else if (videoType == "round") { %>
					<h1>Pro Tournament Videos</h1>
				<% } else { %>
					<h1>All Videos</h1>
				<% } %>
			</div>	
			<div class="row text-center" id="videoLinks">
				<div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2 text-center" >
					<a href="/videos/1" ><button type="button" class="button">All Videos</button></a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2 text-center">
					<a href="/videos/1?t=round"><button type="button" class="button">Rounds</button></a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2 text-center mx-auto">
					<a href="/videos/1?t=bag"><button type="button" class="button">'In The Bag'</button></a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2 text-center">
					<a href="/videos/1?t=tips"><button type="button" class="button">Pro Tips</button></a>
				</div>
			</div>
			<div class="row">
				<% videos.forEach(function(video){ %>
				<section class="col-xs-12 col-sm-6" id="video">
					<div class="box">
						
						<div>

							<div class="embed-responsive embed-responsive-16by9">
								<%- video.iframe %>
							</div>
							<h4><%= video.name %></h4>
							
						</div>

					</div>
				</section>
				<% }); %>
			</div>
			<% if (pages > 0) { %>
                <ul class="pagination pagination-centered text-center mx-auto" id="pagination">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/videos/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/videos/<%= i %>?t=<%=videoType%>""><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 2 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/videos/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
		</div>
	</div>

<div id="featured">
		<div class="divider"></div>
	</div>

<% include partials/footer %>